{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "parser": "babylon",
  "endOfLine": "auto",
  "noSemi": true,
  "rcVerbose": true
}